footer {
    position: fixed;
    background: black;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #aad4e5;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    color:#aad4e5;
}