footer {
    position: relative;
    background: black;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #aad4e5;
}

.startButton {
    width: 200px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50%;
    color: #aad4e5;
    font-size: 30px;
    font-family: 'Andale Mono', monospace, 'Luminari', 'Chalkduster', fantasy;
    border: solid 1px #aad4e5;
    transform: translate(-50%);
}

.startButton:hover {
    border: solid 3px #aad4e5;
}

.message {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    color:#aad4e5;
    font-size: 16px;
    font-family: 'Andale Mono', monospace, 'Luminari', 'Chalkduster', fantasy;
    display: none;
}